.pokemon {
	min-width: var(--sizes-48);
	width: var(--sizes-full);
	height: var(--sizes-full);
	background-color: var(--colors-gray-100);
	box-shadow: var(--shadow-md);
	border-radius: var(--radii-md);
	text-align: center;
	padding: var(--space-4);
	color: var(--colors-blue-500);
	border: 1px solid var(--colors-gray-200);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__header {
		border-bottom: 1px solid var(--colors-gray-300);
		height: var(--sizes-full);
	}

	&__image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		aspect-ratio: 1 / 1;

		width: var(--sizes-full);
		height: var(--sizes-full);
		object-fit: scale-down;

		&::selection {
			user-select: none;
		}
	}

	&__title {
		margin-top: var(--space-1);
		text-transform: capitalize;
	}
}
