<div class="layout">
	<div class="pagination">
		<div class="container">
			<ng-container *ngFor="let pokemon of pokemonsToShow">
				<article class="pokemon" [attr.data-poke]="pokemon.name">
					<header class="pokemon__header">
						<img
							class="pokemon__image"
							[src]="pokemon.image"
							[alt]="pokemon.name"
						/>
					</header>

					<p class="pokemon__title">{{ pokemon.name }}</p>
				</article>
			</ng-container>
		</div>

		<app-pagination
			[pagina]="pagina"
			[total]="total"
			(nextChangePage)="paginatePages($event)"
			(previousChangePage)="paginatePages($event)"
		></app-pagination>
	</div>
	<br />

	<!-- <app-accordion></app-accordion> -->
</div>
