<div class="layout">
	<h1 class="title">{{ title }} - Pokemons</h1>

	<div class="pagination">
		<div class="container">
			<ng-container *ngFor="let pokemon of pokemonsToShow">
				<app-pokemon [pokemon]="pokemon"></app-pokemon>
			</ng-container>
		</div>

		<app-pokemon-pagination
			[pokemonPage]="pokemonPage"
			[pokemonTotales]="pokemonTotales"
			(currentPagination)="paginatePokemons($event)"
			(nextChangePage)="paginatePokemons($event)"
			(previousChangePage)="paginatePokemons($event)"
		></app-pokemon-pagination>

		<app-pagination
			[nextLink]="nextLink"
			[previousLink]="previousLink"
			(nextChangePage)="paginatePages($event)"
			(previousChangePage)="paginatePages($event)"
		></app-pagination>
	</div>
</div>
