.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-4);
	flex-wrap: wrap;
	padding: var(--space-4) 0;
	color: var(--colors-gray-50);

	& button {
		border: none;
		outline: none;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: var(--space-1) var(--space-2);
		color: currentColor;
		border-radius: var(--radii-md);
		cursor: pointer;
		background-color: var(--colors-blue-500);
		transition: var(--transition-property-common),
			var(--transition-duration-300) var(--transition-easing-ease-in-out);

		&:hover {
			background-color: var(--colors-blue-600);
		}
		&:active {
			transform: scale(0.9);
		}

		&:disabled {
			opacity: 0.6;
			cursor: no-drop;
			transform: scale(1);
		}
	}

	& .text {
		color: var(--colors-gray-600);
	}
}
