.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-4);
	flex-wrap: wrap;
	flex-direction: column;
	padding: var(--space-4) 0;
	color: var(--colors-gray-50);

	@media screen and (min-width: 448px) {
		flex-direction: row;
	}

	& button {
		border: none;
		outline: none;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: var(--space-1) var(--space-2);
		border-radius: var(--radii-md);
		color: var(--colors-gray-50);
		font-family: inherit;
		font-size: inherit;
		cursor: pointer;
		background-color: var(--colors-blue-500);
		transition: var(--transition-property-common),
			var(--transition-duration-300) var(--transition-easing-ease-in-out);

		&:hover {
			background-color: var(--colors-blue-600);
		}
		&:active {
			transform: scale(0.9);
		}

		&:disabled {
			opacity: 0.6;
			cursor: no-drop;
			transform: scale(1);
		}
	}

	&__position,
	&__total {
		display: inline-block;
		color: var(--colors-gray-600);
		text-wrap: nowrap;

		&::selection {
			user-select: none;
		}
	}
	&__position {
		padding-right: var(--space-2);
	}

	&__details {
		display: flex;
		align-items: center;
		gap: var(--space-2);

		& input {
			border: 1px solid var(--colors-blue-500);
			outline: none;
			padding: var(--space-1);
			border-radius: var(--radii-md);
			line-height: inherit;
			background: var(--colors-gray-100);
		}
	}
}
