<div class="pagination">
	<button
		id="btnPrevious"
		[disabled]="pokemonPage === 0 || pokemonPage < 1"
		(click)="handlePreviousPage()"
	>
		<app-svg-icon iconID="chevron-left" otherClass="icon-sm" />
	</button>

	<div class="pagination__details">
		<input
			class="pagination__position"
			type="number"
			[(ngModel)]="pokemonPage"
			[value]="pokemonPage"
			min="1"
			[max]="pokemonTotales"
			(keyup.enter)="handleOnKeyUp(pokemonPage)"
		/>
		<small class="pagination__total">de {{ pokemonTotales }} pokes</small>
	</div>

	<button
		id="btnNext"
		[disabled]="
			pokemonPage === pokemonTotales + 1 || pokemonPage > pokemonTotales
		"
		(click)="handleNextPage()"
	>
		<app-svg-icon iconID="chevron-right" otherClass="icon-sm" />
	</button>
</div>
