:root {
	// + /* --------------- Gray --------------- */
	--colors-gray-50: #ffffff;
	--colors-gray-100: #fbfbfc;
	--colors-gray-200: #f0f0f1;
	--colors-gray-300: #dedee0;
	--colors-gray-400: #d6d7d9;
	--colors-gray-500: #b6b8bc;
	--colors-gray-600: #8e9097;
	--colors-gray-700: #5c5f69;
	--colors-gray-800: #212532;
	--colors-gray-900: #141821;
	--colors-gray-950: #0b0d11;
	--colors-gray-1000: #070010;

	// + /* --------------- Blue --------------- */
	--colors-blue-50: #eff7ff;
	--colors-blue-100: #e6f1fd;
	--colors-blue-200: #cce2fc;
	--colors-blue-300: #99c5f8;
	--colors-blue-400: #66a9f5;
	--colors-blue-500: #338cf1;
	--colors-blue-600: #006fee;
	--colors-blue-700: #0059be;
	--colors-blue-800: #00438f;
	--colors-blue-900: #002c5f;
	--colors-blue-950: #001630;

	--purple-50: #f2eafa;
	--purple-100: #e4d4f4;
	--purple-200: #c9a9e9;
	--purple-300: #ae7ede;
	--purple-400: #9353d3;
	--purple-500: #7828c8;
	--purple-600: #6020a0;
	--purple-700: #481878;
	--purple-800: #301050;
	--purple-900: #180828;

	--green-50: #e8faf0;
	--green-100: #d1f4e0;
	--green-200: #a2e9c1;
	--green-300: #74dfa2;
	--green-400: #45d483;
	--green-500: #17c964;
	--green-600: #12a150;
	--green-700: #0e793c;
	--green-800: #095028;
	--green-900: #052814;

	--red-50: #fee7ef;
	--red-100: #fdd0df;
	--red-200: #faa0bf;
	--red-300: #f871a0;
	--red-400: #f54180;
	--red-500: #f31260;
	--red-600: #c20e4d;
	--red-700: #920b3a;
	--red-800: #610726;
	--red-900: #310413;

	--yellow-50: #fefce8;
	--yellow-100: #fefce8;
	--yellow-200: #fbdba7;
	--yellow-300: #f9c97c;
	--yellow-400: #f7b750;
	--yellow-500: #f5a524;
	--yellow-600: #f5a524;
	--yellow-700: #936316;
	--yellow-800: #62420e;
	--yellow-900: #312107;

	--pink-50: #ffedfa;
	--pink-100: #ffdcf5;
	--pink-200: #ffb8eb;
	--pink-300: #ff95e1;
	--pink-400: #ff71d7;
	--pink-500: #ff4ecd;
	--pink-600: #cc3ea4;
	--pink-700: #992f7b;
	--pink-800: #661f52;
	--pink-900: #331029;
}
